In [1]:
# Add Pandas and os packages
import pandas as pd
import os

# Save paths to load data files
school_data_load = os.path.join(".","Resources","schools_complete.csv")
student_data_load = os.path.join(".","Resources","students_complete.csv")

# Read school data file and store it in a data frame
school_data_df = pd.read_csv(school_data_load)

# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_load)

# Declare a list of prefixes and suffixes
prefixes_suffixes = ['Dr. ', 'Miss ', 'Mr. ', 'Mrs. ', 'Ms. ', 
                     ' DVM', ' PhD', ' MD', ' DDS']

# Remove prefixes and suffixes from student data
for part_of_name in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(part_of_name, "")

# Merge student and school data frames
school_data_complete_df = pd.merge(student_data_df,school_data_df,on = ["school_name","school_name"])

# Get the total number of students and schools
student_count = school_data_complete_df["student_name"].count()
school_count = len(school_data_complete_df["school_name"].unique())

# Calculate the total budget
total_budget = school_data_df["budget"].sum()

# Calculate the average reading and math score
average_reading_score = school_data_complete_df["reading_score"].mean()

average_math_score = school_data_complete_df["math_score"].mean() 

# store the students with passing math / reading scores into separate data frames
passing_math_df = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_reading_df = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

# Count the number of students with passing math / reading scores and store them into variables
passing_math_count = passing_math_df["student_name"].count()
passing_reading_count = passing_reading_df["student_name"].count()

# Calculate the percentage of students with passing math / reading scores and store them into variables
passing_math_percent = (passing_math_count / float(student_count)) * 100
passing_reading_percent = (passing_reading_count / float(student_count)) * 100

# Calculate the percentage of students that are passing both math and reading
passing_math_reading_df = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_both_count = passing_math_reading_df["student_name"].count()
passing_both_percent = (passing_both_count/float(student_count))*100

# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percent,
          "% Passing Reading": passing_reading_percent,
          "% Overall Passing": passing_both_percent}])

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

# Format the remaining columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}%".format)

# district_summary_short = ['Total Students','Total Budget','% Overall Passing']

district_summary_df


# Determine if there are any missing values in the school data.
# school_data_df.notnull().sum()

# Determine if there are any missing values in the student data.
# student_data_df.isnull().sum()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75%,86%,65%

In [12]:
# Determine the school type. set school name as index
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

# create data frame with school name as index
schools_df = pd.DataFrame(per_school_types)
# schools_df

# Calculate the total student count per school
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

# Calculate the total budget per school and per student per school
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

per_school_capita = per_school_budget/per_school_counts
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [26]:
# Calculate the average math / reading score by school
per_school_avg_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_avg_math

per_school_avg_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_avg_reading

# Get the school counts for passing math / reading and both
per_school_math_count = passing_math_df.groupby(["school_name"]).count()["student_name"]
per_school_math_count

per_school_reading_count = passing_reading_df.groupby(["school_name"]).count()["student_name"]
per_school_reading_count

per_school_both_count = passing_math_reading_df.groupby(["school_name"]).count()["student_name"]
per_school_both_count

# Get the percent passing rates
per_school_percent_math = (per_school_math_count / per_school_counts)*100
per_school_percent_math

per_school_percent_reading = (per_school_reading_count / per_school_counts)*100
per_school_percent_reading

per_school_percent_both = (per_school_both_count / per_school_counts)*100
per_school_percent_both

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [28]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_avg_math,
             "Average Reading Score": per_school_avg_reading,
             "% Passing Math": per_school_percent_math,
             "% Passing Reading": per_school_percent_reading,
             "% Overall Passing": per_school_percent_both})

# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455